
#header {margin:auto;
	/* height: 30px; */
}
#logo{display: block; margin-left: auto; margin-right: auto }

#app_header {position: relative; padding: 0.3em; height: 1%}
#user_info {position: absolute; top: 0.3em; right: 0.3em}

#navigation {
	margin:auto;
	background-color:gray;
	padding: 10px; 
	height: 20px;
	width: 700px;
}

#navigation ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
#navigation li {
	float: left;
	line-height: 30px;
}

#navigation li a {  /* Add back "a" here when links are added */
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 0 15px;
	height: 33px;
	font-weight: normal;
}


#navigation li a:hover {
	color: #fff;
	background: #900;
}

/* override margin of 150px in this theme...don't need that much room */
.theme-pascal.slider-wrapper, .theme-orman.slider-wrapper {
margin-top: 10px;
}

/*
#navigation li.current a {
	color: #fff;
	background: #a00;
}

#navigation li.current a:hover {
	background: #900;
}

#navigation li#nav-home {
	border-left: solid #900 1px;
}
*/