html {background: #eee;}

body {
	font-family:Verdana;
	color:#333;
}

#doc2 {background: white;
}
#hd{margin-top: 20px;}

table th, td {
	border: none;
}
#first_col {padding-left: 10px;}

#header {margin:auto;
	/* height: 30px; */
}

#app_header {
position: relative;
padding: 0.3em;
height: 1%;
}

#social_links{
position: absolute;
top: 0.3em;
right: 0.3em;
}
#logo{display: block; margin-left: auto; margin-right: auto }

#app_header {position: relative; padding: 0.3em; height: 1%}
#user_info {position: absolute; top: 0.3em; right: 0.3em}

#navigation {
	margin:auto;
	background-color:gray;
	padding: 10px; 
	height: 20px;
	width: 700px;
}

.main_visual {
	margin:auto;
	width: 700px;
	text-align: center;
	padding: 20px;
	}
.main_visual img {
	margin:auto;
	}

#goodbye {
	margin-top: 50px;
	padding: 10px; 
	height: 20px;
	width: 700px;
/*
	border-style: solid;
	border-width: thin;
*/
	font-size:85%;
}


#navigation ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
#navigation li {
	float: left;
	line-height: 20px;
}

#navigation li a {  /* Add back "a" here when links are added */
	color: #fff;
	text-decoration:none;
	display: block;
	padding: 0 15px;
	height: 33px;
	font-weight: normal;
}


#navigation li a:hover {
	color: #fff;
	background: #900;
}

/* replace margin of 150px in this theme...don't need that much room */
.theme-pascal.slider-wrapper, .theme-orman.slider-wrapper {
margin-top: 10px;
}

/*
#navigation li.current a {
	color: #fff;
	background: #a00;
}

#navigation li.current a:hover {
	background: #900;
}

#navigation li#nav-home {
	border-left: solid #900 1px;
}
*/

#dev7link {
    position:absolute;
    top:0;
    left:50px;
    background:url(images/dev7logo.png) no-repeat;
    width:60px;
    height:67px;
    border:0;
    display:block;
    text-indent:-9999px;
}

.theme-default #slider {
    margin:100px auto 0 auto;
    width:618px; /* Make sure your images are the same size */
    height:246px; /* Make sure your images are the same size */ 

/*====================*/
/*=== Other Styles ===*/
/*====================*/
.clear {
	clear:both;
}

/* ============================================================================================================================
== BUBBLE WITH A BORDER AND TRIANGLE
** ============================================================================================================================ */

/* THE SPEECH BUBBLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-border {
	position:relative;
	padding:15px;
	margin:1em 0 3em;
	border:5px solid #5a8f00;
	color:#333;
	background:#fff;
	/* css3 */
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

/* Variant : for left positioned triangle
------------------------------------------ */

.triangle-border.left {
	margin-left:30px;
}

/* Variant : for right positioned triangle
------------------------------------------ */

.triangle-border.right {
	margin-right:30px;
}
