html {background: #eee;}

body {
	font-family:Verdana;
	color:#333;
}

#doc2 {background: white;
}

img.hero {
	    padding:1px;
   		border:1px solid #021a40;
}

ul#features li {
list-style: square;}


#hd{margin-top: 5px;
	margin-bottom: 5px;
}

table th, td {
	border: none;
}
#first_col {padding-left: 10px;}

#header {margin:auto;
	/* height: 30px; */
}

#app_header {
position: relative;
padding: 0.3em;
height: 1%;
}
h1.section_header {
margin-top: 0;


}

#social_links{
position: absolute;
top: 0.3em;
right: 0.3em;
}
#logo{display: block; margin-left: auto; margin-right: auto }

#app_header {position: relative; padding: 0.3em; height: 1%}
#user_info {position: absolute; top: 0.3em; right: 0.3em}

#navigation {
	margin:auto;
	background-color:gray;
	padding: 10px; 
	height: 20px;
}

#goodbye {
	margin-top: 50px;
	padding: 10px; 
	height: 20px;
	width: 700px;
/*
	border-style: solid;
	border-width: thin;
*/
	font-size:85%;
}


#navigation ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
#navigation li {
	float: left;
	line-height: 20px;
}

#navigation li a {  /* Add back "a" here when links are added */
	color: #fff;
	text-decoration:none;
	display: block;
	padding: 0 15px;
	height: 33px;
	font-weight: normal;
}


/*
#navigation li a:hover {
	color: #fff;
	background: #900;
}
*/


/*====================*/
/*=== Other Styles ===*/
/*====================*/
.clear {
	clear:both;
}

